body {
    background: #efefef;
    margin: 0 auto;
    font-family: arial;
}
.header {
    margin: auto;
    margin-top: 30px;
    width: 900px;
    border: 1px solid #000000;
    background: #cccccc;
}
.nav_bar {

}
h1 {

}
.nav_bar a {

}
.nav_bar a:hover {

}
.main_container {

}
h2 {

}
p {

}
.footer {

}

